/* Add this CSS code to your existing stylesheet or create a new one */
#downloadButton {
    position: absolute;
    top: 12px;
    right: 10px;
    margin: 10px;
    padding: 10px 15px;
    background-color:  cyan;
    border: solid 1px  rgb(25, 0, 255);
    color: #6200ee;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s;
}

#downloadButton:hover {
    background-color: rgb(255, 255, 255);
    color: #000000;
    border: solid 2px cyan;
}
