<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Cornell Note</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cornellnotestyle.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/searchandhighlightstyle.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/savebuttonstyle.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/downloadbuttonstyle.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/toolbarstyle.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/documentstyle.css') }}">
        <script src="{{ url_for('static', filename='js/html2canvas.min.js') }}"></script>
    </head>

    <body>
    
    <nav class="stickynavigation">

        <header class="webservices">
            <h1>Cornell Note</h1>
            <div class="search">
                <input type="text" id="searchInput" oninput="searchAndHighlight()" placeholder="Search...">
                <button id="saveButton" onclick="saveData()">Save Data</button>
                <button id="downloadButton" onclick="downloadImage()">Download</button>
            </div>
        
        </header>

        <div class="tools">
            <div class="Size">
            <label>Paper Size:</label>
            <br>
            <center>
            <select class="paperSize" title="Paper Size">
                <option value="Letter">Letter (8.5" x 11")</option>
                <option value="Long">Long (8.5" x 13")</option>
                <option value="Tabloid">Tabloid (11" x 17")</option>
                <option value="Legal">Legal (8.5" x 14")</option>
                <option value="Executive">Executive (7.25" x 10.5")</option>
                <option value="A3">A3 (11.69" x 16.54")</option>
                <option value="A4">A4 (8.27" x 11.69")</option>
                <option value="B4JIS">B4 (JIS) (10.12" x 14.33")</option>
                <option value="B5JIS">B5 (JIS) (7.17" x 10.12")</option>
            </select>
            </center>
            </div>

            <div class="Border">
            <label>Border Style:</label>
            <br>
            <center>
            <select class="borderDesign" title="Border Style">
                <option value="solid">Solid</option>
                <option value="dotted">Dotted</option>
                <option value="dashed">Dashed</option>
                <option value="double">Double</option>
                <option value="groove">Groove</option>
                <option value="ridge">Ridge</option>
                <option value="inset">Inset</option>
                <option value="outset">Outset</option>
                <option value="none">None</option>
            </select>
            </center>
            </div>

            <div class="BGColor">
            <label>Background Color:</label>
                <br>
                <center>
                <input type="color" class="titlebgcolorPicker" name="titlefvcolor" value="#ffe550" title="Title Background Color">
                <input type="color" class="keywordbgcolorPicker" name="keywordfvcolor" value="#ae51ff" title="Keyword Background Color">
                <input type="color" class="contentbgcolorPicker" name="contentfvcolor" value="#ff50bc" title="Content Background Color">
                <input type="color" class="summarybgcolorPicker" name="contentfvcolor" value="#50c5ff" title="Summary Background Color">
                </center>
            </div>
            
            <div class="FSize">
                <label>Font Size:</label>

                <br>

            <center>
                <select id="titleFontSize" onchange="changeFontSize()" title="Title Font Size">
                    <option value="12">12px</option>
                    <option value="13">13px</option>
                    <option value="14">14px</option>
                    <option value="15">15px</option>
                    <option value="16">16px</option>
                    <option value="17">17px</option>
                    <option value="18">18px</option>
                    <option value="19">19px</option>
                    <option value="20">20px</option>
                    <option value="21">21px</option>
                    <option value="22">22px</option>
                    <option value="23">23px</option>
                    <option value="24">24px</option>
                    <option value="25">25px</option>
                    <option value="26">26px</option>
                    <option value="27">27px</option>
                    <option value="28">28px</option>
                    <option value="29">29px</option>
                    <option value="30">30px</option>
                </select>

                <select id="keywordFontSize" onchange="changeFontSize()" title="Keyword Font Size">
                    <option value="12">12px</option>
                    <option value="13">13px</option>
                    <option value="14">14px</option>
                    <option value="15">15px</option>
                    <option value="16">16px</option>
                    <option value="17">17px</option>
                    <option value="18">18px</option>
                    <option value="19">19px</option>
                    <option value="20">20px</option>
                    <option value="21">21px</option>
                    <option value="22">22px</option>
                    <option value="23">23px</option>
                    <option value="24">24px</option>
                    <option value="25">25px</option>
                    <option value="26">26px</option>
                    <option value="27">27px</option>
                    <option value="28">28px</option>
                    <option value="29">29px</option>
                    <option value="30">30px</option>
                </select>

                <select id="contentFontSize" onchange="changeFontSize()" title="Content Font Size">
                    <option value="12">12px</option>
                    <option value="13">13px</option>
                    <option value="14">14px</option>
                    <option value="15">15px</option>
                    <option value="16">16px</option>
                    <option value="17">17px</option>
                    <option value="18">18px</option>
                    <option value="19">19px</option>
                    <option value="20">20px</option>
                    <option value="21">21px</option>
                    <option value="22">22px</option>
                    <option value="23">23px</option>
                    <option value="24">24px</option>
                    <option value="25">25px</option>
                    <option value="26">26px</option>
                    <option value="27">27px</option>
                    <option value="28">28px</option>
                    <option value="29">29px</option>
                    <option value="30">30px</option>
                </select>

                <select id="summaryFontSize" onchange="changeFontSize()" title="Summary Font Size">
                    <option value="12">12px</option>
                    <option value="13">13px</option>
                    <option value="14">14px</option>
                    <option value="15">15px</option>
                    <option value="16">16px</option>
                    <option value="17">17px</option>
                    <option value="18">18px</option>
                    <option value="19">19px</option>
                    <option value="20">20px</option>
                    <option value="21">21px</option>
                    <option value="22">22px</option>
                    <option value="23">23px</option>
                    <option value="24">24px</option>
                    <option value="25">25px</option>
                    <option value="26">26px</option>
                    <option value="27">27px</option>
                    <option value="28">28px</option>
                    <option value="29">29px</option>
                    <option value="30">30px</option>
                </select>
            </div>

        </center>

            <div class="TColor">
            <label>Text Color:</label>
                <br>
                <center>
                <input type="color" class="titletextcolorPicker" title="Title Text Color">
                <input type="color" class="keywordtextcolorPicker" title="Keyword Text Color">
                <input type="color" class="contenttextcolorPicker" title="Content Text Color">
                <input type="color" class="summarytextcolorPicker" title="Summary Text Color">
                </center>
            </div>
            

        </div>
    </nav>

        <div class="documents">
            <main class="cornellnotesdoc">

                <div class="sectionhead">
                    <nav class="title">
                        <h4 class="dynamictitle" contentEditable="true" title="Click here to change">TITLE</h4>
                        <p class="notetitle" contentEditable="true" title="Click here to change">{{ title }}</p>
                    </nav>
                </div>
            
                <div class="sectionmiddle">
                    <aside class="keyword">
                        <h4 class="dynamickeyword" contentEditable="true" title="Click here to change">KEYWORD</h4>
                        <p class="notekeyword" contentEditable="true" title="Click here to change">{{ keyword }}</p>
                    </aside>
            
                    <article class="content">
                        <h4 class="dynamiccontent" contentEditable="true" title="Click here to change">CONTENT</h4>
                        <p class="notecontent" contentEditable="true" title="Click here to change">{{ content }}</p>
                    </article>
                </div>
    
                <div class="sectionbuttom">
                    <summary class="summary">
                        <h4 class="dynamicsummary" contentEditable="true" title="Click here to change">SUMMARY</h4>
                        <p class="notesummary" contentEditable="true" title="Click here to change">{{ summary }}</p>
                    </summary>
                </div>
    
                
            </main>
                
        </div>

        <script src="{{ url_for('static', filename='js/backgroundcolor.js') }}"></script>
        <script src="{{ url_for('static', filename='js/borderdesign.js') }}"></script>
        <script src="{{ url_for('static', filename='js/papersize.js') }}"></script>
        <script src="{{ url_for('static', filename='js/fontsize.js') }}"></script>
        <script src="{{ url_for('static', filename='js/textcolor.js') }}"></script>
        <script src="{{ url_for('static', filename='js/searchandhighlight.js') }}"></script>
        <script src="{{ url_for('static', filename='js/savedata.js') }}"></script>
        <script src="{{ url_for('static', filename='js/saveanddownloadImage.js') }}"></script>


    </body>

</html>